@font-face {
  font-family: "ArcadeFont";
  src: url("/fonts/PressStart2P.ttf") format("truetype");
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "ArcadeFont", monospace;
  background-color: #000000;
}